<p id="notice"><%= notice %></p>

<p>
  <strong>Contratado:</strong>
  <%= @contrato.contratado %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contrato.data %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @contrato.salario %>
</p>

<%= link_to 'Edit', edit_contrato_path(@contrato) %> |
<%= link_to 'Back', contratos_path %>
